:root {
  --bch-green: #00705f;
}

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
      
ul{
  margin-left: 1.2em;
}
#clientChart, #fundChart{
height:180px !important;
max-height: 20vh;
}
    
#homesChart {
  height:250px !important;
  max-height: 20vh;
  }
  
  body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }

  .load-overlay{
    position: absolute;
width: 100%;  
    height:100vh;
    background: #00705f6e;
  background-image: url("./img/500-robert-nicklin-place.jpg"); /* fallback */
  background-image: linear-gradient(#00705fb1, #31a1d176),url("./img/702-nicol-street-front.jpg") ; /* W3C */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    display: flex;
justify-content: center;    
align-items: center;
  }

  .load-overlay h1 {
    color:white
  }

  .load-overlay div{
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .load-overlay img {
    width: 30px;
    height: auto;
    margin-bottom: 1em;
  }
  
  .sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    /* transition: opacity 1s ease; */
    z-index: 1;
    background: white;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }

  .map {
    position: absolute;
    /* left: 33.3333%; */
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 0;
    /* transition: opacity 1s ease; */
  }


  .mapboxgl-ctrl-top-right{
    bottom: 30px;
    top:unset
  }

  h1 {
    font-size: 26px;
    margin: 0 0 0.4em 0;
    font-weight: bold;
    line-height: 20px;
    padding: 20px 2px;
    line-height: 1.5;
  }
  
  h3{
   font-weight: 700;
  }

  a {
    color: #404040;
    text-decoration: none;
  }

  a:hover {
    color: #101010;
  }


  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    background-color: var(--bch-green);
    color: #fff;
    height:38vh;
    padding: 0.6em 2.2em 1em 2.2em;
    position: relative;
    min-height: 375px;
    box-shadow: 0px 3px 3px #0000001a;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 1.4em;
    text-decoration: none;
    /* box-shadow: 0px 2px 3px #0000001a; */
    box-shadow: 0px 1px 3px #0000001a;
  }

  .listings .item:last-child {
    border-bottom: none;
  }
  .listings .item .title {
    display: block;
    color: var(--bch-green);
    /* font-weight: 700; */
  }

  .listings .item .title small {
    font-weight: 400;
  }

  .fund-ctn{
    display: flex;
    align-items: center;
    gap:4px
  }

  .fund-colour{
    width:10px;
    height: 10px;
    border-radius: 50%;
  }

  .listings .item.active .title,
  .listings .item .title:hover {
    color: #12ac91;
  }
  .listings .item.active {
    background-color: #f8f8f8;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
  }


  /* Marker tweaks */

  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 300px;
    overflow: scroll;
    border-radius: 10px;
  }
  .mapboxgl-popup-content h3 {
    color: #fff;
    margin: 0;
    font-weight: 700;
    padding:5px 0 18px 0;

  }

  .popup-bottom{
    padding: 0em 1em 2.4em 1em !important;
  }

  .mapboxgl-popup-content h4,h5 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 1em;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: var(--bch-green);
  }

  .white{
    color:white;
  }
  .black{
    color:black;
  }
  .green{
    color:var(--bch-green);
  }


  /* Nav/info top right */

  #info-panel {
    background: var(--bch-green);
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0px;
    right: 0px;
    border-radius: 3px;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
    color: white;
    max-width: 40vw;
    border-radius: 0 0 0 10px;
    }
      
    .control-ctn{
      display: flex;
      align-items: center;
      width: 100%;
      flex:1;
      background: #0c8870;
      justify-content: space-between;
      padding: 0.4em;
    }


    .control-ctn img {
      width: 15px;
      height: 15px;
      object-fit: contain;

    }  

    .info-ctn{
      width:100%;
      font-size: 0.8rem;
      font-weight: 400;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    .info-title{
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    }

    .border-highlight{
      border: 2px solid #32b9d4;
      border-bottom: 6px solid #32b9d4;
    }

   

    .summary-data-ctn{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 1em;
      flex:1;
    
    }

    .summary-data-ctn span + span{
      font-weight: 700;
      font-size: 1.6rem;
    }

    #data-btn img {
      width: 26px;
      height: 26px;
      object-fit: contain;
      filter:invert(100%);
    }
  
 

  /* Dekstop */


  .logo-ctn{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }
  .bch-logo{
/* width: auto; */
padding-top:0.8em;
  }


  input[type="text"]{
width: 100%;
margin: 0;
display: block;
padding: 1em;
border-radius: 5px;
border: 0px;
  }

  .sidebar select{
display: block;
width:100%;
border-radius: 5px;
padding: 0.6em 0.5em;
  }

  .listings{
    height: 60vh;
    padding: 1em;
  }
  
  label{
    display: block;
    height:auto;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    font-weight: 700;
  }

  .reset-ctn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #reset-btn{
    margin-top: 0.2em;
    padding: 0.5em 0.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }


  /* Popup */
  .pop-title-ctn{
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
    background: var(--bch-green);
    position: relative;
    z-index: 1;
  }

.pop-img-ctn {
padding: 0 !important;
position: relative;
}
.pop-img {
  width:100%;
  height:115px;
  object-fit: cover;
  position: relative;
  z-index: 0;
 margin-top:-30px;
 box-shadow: 0px 3px 6px #00000029;
}

.pop-home-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height:85px;
  border-radius: 50%;
  background:var(--bch-green);
  position: absolute;
  right: 12px;
  top: 36px;
}

.pop-home-ctn div{
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid #31b9d4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color:white;
  font-weight: bold ;
}

.home-num{
  font-size: 1.2rem;
}

.pop-home-ctn span{
  width:100%;
}

.pop-location-ctn{
  display:flex;
}
.pop-location-ctn > h4{
  flex: 1;
  padding-left:0;
}

aside{
position: absolute;
z-index: 1;
width: 450px;
bottom: -450px;
left: 35%;
background: white;
border-radius: 10px;
padding: 3em;
transform: translateY(0);
box-shadow: 4px 8px 6px #0000001c;
transition: transform 0.7s ease-out;
/* z-index: 0; */
}


aside h2 {
  margin-bottom: 1em;
}

aside a {
  color: var(--bch-green);
  font-weight: bold;
}

aside ul{
  margin-top: 1em;
}

.welcome-dec{
  clip-path: polygon(100% 0, 100% 100%, 0 0);
background-color:   var(--bch-green);
width: 70px;
height: 70px;
position: absolute;
top: 0;
right: 0;
border-radius: 0 10px 0 0;
transition: all 0.3s ease 0.6s;
}

.shadow-wrap{
  filter: drop-shadow(-1px 7px 3px rgba(30, 30, 0, 0.18));
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
}

.welcome-dec div{
  position: relative;
  width: 100%;
  height: 100%;
}

.welcome-dec img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  filter: invert(100%);
  cursor: pointer;
}

/* Charts */

#data-ctn{
  display: none;
  flex-flow: row wrap;
width: 100%;
background: #3838387e;
border-top: 5px solid #32b9d4;
padding: 2em;
border-radius: 0 0 0 10px;

}

#data-ctn h2{
  width:100%;
  padding: 1em;
}

.chart-title{
  margin-bottom: 0.4em;
  display: block;
  text-align: center;
}

.chart-ctn{
  position: relative;
  width: 50%;
}

.bar-chart{
  width: 100%;
  margin-top: 1em;
}

#menu-btn{
  display: none;
}


@media only screen and (max-width: 768px) {
  #menu-btn{
    display: block;
    /* background: var(--bch-green); */
    border-radius: 10px;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 100;
  }

  #menu-btn img{
    width:25px;
    height: 25px;
    filter: invert(100%);
  }


  .sidebar{
    transform: translateX(-100%);
    width: 100%;
    top:10vh;
    height: 90vh;
    z-index: 100;
  }

  .sidebar input, select {
    padding: 0.5em;
    /* height: 30px; */
  }

  .heading{
    height: unset;
    min-height: unset;
    max-height: unset;
    padding: 1.5em;
  }
  .heading h1 {
    display: none;
  }


  aside{
    /* transform: translateY(-80vh); */
    width: 100%;
    left: 5%;
    bottom: -300;
    width: 90%;
    height: auto;
  }

  #info-panel{
    max-width: unset;
    border-radius: 0;
    height: 20vh;
  }

  .control-ctn{
    height: 10vh;
  }

  .summary-data-ctn{
    padding: 0;
  }

  .summary-data-ctn span + span {
    font-weight: 700;
    font-size: 1.2rem;
}

#data-ctn {
  background-color: var(--bch-green);
}

#data-btn img {
  width: 23px;
  height: 23px;
}


}